@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #363636;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #363636;
  --muted: #f7f7f7;
  --muted-foreground: #8d8d8d;
  --accent: #f7f7f7;
  --accent-foreground: #363636;
  --destructive: #ce4d2b;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;
  --chart-1: #c2640c;
  --chart-2: #3f89c5;
  --chart-3: #3844cc;
  --chart-4: #ebc10e;
  --chart-5: #e0a707;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #363636;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #363636;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #252525;
  --foreground: #ffffff;
  --card: #363636;
  --card-foreground: #ffffff;
  --popover: #363636;
  --popover-foreground: #ffffff;
  --primary: #ebebeb;
  --primary-foreground: #363636;
  --secondary: #454545;
  --secondary-foreground: #ffffff;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #ffffff;
  --destructive: #c94d3a;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8d8d8d;
  --chart-1: #615de4;
  --chart-2: #c3a93b;
  --chart-3: #e0a707;
  --chart-4: #6b5eea;
  --chart-5: #cf8740;
  --sidebar: #363636;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #615de4;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8d8d8d;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
